{% extends 'base.html.twig' %}

{% block title %}{{ film.title }}{% endblock %}

{% block body %}

    <h1>{{ film.title }}</h1>

    <p><strong>Année :</strong> {{ film.releaseYear }}</p>

    <h3>Synopsis</h3>
    <p>
        {{ film.synopsis ?: "Aucun synopsis disponible." }}
    </p>

    <h3>Disponible sur :</h3>

    {% if film.platformes|length > 0 %}
        <ul>
            {% for platforme in film.platformes %}
                <li>
                    <a href="{{ platforme.url }}" target="_blank">
                        {{ platforme.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune plateforme renseignée</p>

    {% endif %}

    <p>
        <a href="{{ path('film_index_public') }}">← Retour à la liste</a>
    </p>

{% endblock %}
