{% extends 'base.html.twig' %}

{% block title %}Plateformes{% endblock %}

{% block body %}
    <h1>Plateformes</h1>
    <table style="border: 1px solid white; width: 100%; text-align: center">
        <tbody>
        {% for platform in platforms %}
            <tr>
                <td><img style="width: 40px;" src="{{ asset('uploads/logos/' ~ platform.logo) }}"
                         alt="{{ platform.logo }}"></td>
                <th>{{ platform.name }}</th>
                <td><a a style="color: white;" href="{{ platform.url }}">Se rendre sur la plateforme</a></td>
                <td>
                    <a a style="color: white;" href="{{ path('show_platforme',{'id':platform.id}) }}">Voir les films disponibles</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
