{% extends 'base.html.twig' %}

{% block title %}{{ platform.name }}{% endblock %}

{% block body %}
    <h1>Films dispo sur {{ platform.name }}</h1>
<div style="display: flex; gap: 2rem;">
    {% for film in films %}
        <div style="padding: 1rem; width: fit-content; border: 1px solid white; text-align: center">
            <h1>{{ film.title }}</h1>
            <h2>{{ film.releaseYear }}</h2>
            <p>{{ film.synopsis }}</p>
        </div>
    {% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(films) }}
</div>

{% endblock %}
